body {
    text-align: center;
}

div {
    height: 100px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container {
    height: 200px;
    width: 800px;
    display: flex;
    flex-direction: row;
}

#box1 {
    background-color: aqua;
}
#box2 {
    background-color: salmon;
}
#box3 {
    background-color: khaki;
}
#box4 {
    background-color: violet;
}
#box5 {
    background-color: gold;
}